.landing {
    height: calc(100vh + 7rem);
    background: url("../images/bbq-bg-dark.jpg") center center;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr auto 2fr;
    align-items: end;
    justify-items: center;
    position: relative;
}

.landing__title {
    color: var(--red);
    font-size: 4rem;
    width: 100%;
    display: grid;
    justify-items: center;
}

.landing__title--secondary {
    align-self: start;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    grid-gap: 1rem;
    align-items: center;
    
}
.landing__title--secondary:before, .landing__title--secondary:after {
    display: block;
    content: '';
    height: .25rem;
    background: linear-gradient(to left, var(--yellow), transparent);
}

.landing__title--secondary:after {
    background: linear-gradient(to right, var(--yellow), transparent);
}

.landing__button {
    align-self: start;
    margin-top: 3rem;
    text-decoration: none;
    color: var(--yellow);
    border: 2px solid var(--yellow);
    padding: 1rem 2rem;
}

@media only screen and (min-width: 400px) {
    .landing__title {
        font-size: 5rem;
    }
}