.landing {
    height: calc(100vh + 3rem);
    background: url("../images/bg-dark.jpg") center center;
    background-size: cover;
    display: grid;
    align-content: center;
    justify-items: center;
    position: relative;
}

.landing__title {
    color: var(--red);
    text-shadow: 1px 1px 5px #111111b0;
    font-size: 4rem;
    width: 100%;
    display: grid;
    justify-items: center;
}

.landing__title--secondary {
    color: #fff;
    text-shadow: 1px 1px 5px #1111115c;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    grid-gap: 1rem;
    align-items: center;
    
}
.landing__title--secondary:before, .landing__title--secondary:after {
    display: block;
    content: '';
    height: .25rem;
    background: linear-gradient(to left, var(--yellow), transparent);
}

.landing__title--secondary:after {
    background: linear-gradient(to right, var(--yellow), transparent);
}

@media only screen and (min-width: 400px) {
    .landing__title {
        font-size: 5rem;
    }
}