

.location {
    background: url("../images/hours-bg.jpg") center center;
    background-size: cover;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    font-weight: 400;
}

.location__content {
    align-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1;
}

.location__title {
    font-weight: inherit;    
    font-size: 2.5rem;
    text-transform: uppercase;
    grid-column: 1 / -1;
    padding: 2rem 0;
    text-align: center;
    background: var(--navy);
}

.address, .hours {
    margin: 2rem;
}

.hours {
    text-align: center;
}

@media only screen and (min-width: 500px) {
    .location {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1000px) {
    .hours {
        grid-template-columns: repeat(2, 1fr);
    }
}