

.location {
    background: url("../images/hours-bg.jpg") center center;
    background-size: cover;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    font-weight: 400;
}

.location__content {
    align-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1;
}

.location__section-title {
    padding-top: 3.5rem;
    grid-column: 1 / -1;
    background: var(--navy);
}

.contact--icons {
    margin: 1rem 0;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
}
.icon:hover path {
    fill: var(--light-blue);
}
.email-icon {
    height: 3rem;
    width: 3rem;
}
.address, .hours {
    margin: 2rem;
}
.phone, .address__link {
    text-decoration: none;
    color: inherit;
}

.hours {
    text-align: center;
}

@media only screen and (min-width: 500px) {
    .location {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1000px) {
    .hours {
        grid-template-columns: repeat(2, 1fr);
    }
}