@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400');

.react-tabs {
    color: var(--navy);
    max-width: 1024px;
    margin: 0 auto;
}

/** Tab style **/

 .menu-btns {
    width: calc(100vw - (100vw - 100%));
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    grid-gap: .25rem;
}

.menu-btns__btn {
    padding: 1rem 0;
    background: #f7f7f7;
/*     color: #fff; */
    color: #676d77;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

.menu-btns__btn:hover {
   /*  background: var(--yellow); */
/*     color: var(--navy); */
    background: #fff;
    color: var(--navy);
}

.react-tabs__tab--selected {
    border-left: 8px solid var(--navy);
    background: #fff;
    color: var(--navy);
/*     background: var(--yellow); */
/*     color: var(--navy); */
}

@media only screen and (min-width: 350px) {
    .menu-btns {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 600px) {
    .menu-btns {
        grid-template-columns: repeat(4, 1fr);
    }
    .menu-btns__btn {
        /* border-radius: 4px; */
    }
}

/* @media only screen and (min-width: 1024px) {
    .menu-btns {
        grid-template-columns: repeat(8, 1fr);
    }
} */

/** Menu style **/

.react-tabs__tab-panel--selected {
    display: grid;
    justify-content: center;

}

.menu {
    width: calc(100vw - (100vw - 100%));
    max-width: 700px;
    border: 2px solid var(--navy);
    display: grid;
    grid-template-columns: 1fr;
    background: #fff;
}

.menu__title {
    padding: 2rem;
    grid-column: 1 / -1;
    text-align: center;
}

.menu__header {
    grid-column: 1 / -1;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 2rem;
    padding: 1rem;
}

@media only screen and (min-width: 500px) {
    .menu {
        grid-template-columns: repeat(2, 1fr);
    }
}

/** Item style **/

.menu__item {
    display: grid;
    font-weight: 400;
    padding: 1rem;
    justify-items: center;
}
.menu__item__name {
    text-transform: Capitalize;
    font-weight: 400;
}
.menu__item__desc {
    margin: .5rem 0;
    font-size: .75rem;
    text-align: center;
    white-space: pre-line;
}
.menu__item__prices {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
}