.menu {
    display: grid;
    justify-content: center;
    grid-template-columns: auto 600px auto;
}

.menu > * {
    grid-column: 2;
}

.menu--tabs-list {
    list-style-type: none;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.menu--tabs-list-item {
    padding: 1rem;
}

.react-tabs__tab--selected {
    transform: scale(1.1);
}

.menu-title {
    padding: 1rem;
}

.menu-header {
    justify-self: end;
    padding: 1rem;
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.menu--item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-weight: 400;
    padding: 1rem;
}

.menu--item__name {
    grid-row: 1;
    text-transform: Capitalize;
}

.menu--item__prices {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menu--item__prices-salad {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
}

.menu--item__price {
    font-weight: 600;
    justify-self: end;
}

.menu--item__desc {
    font-size: .75rem;
    grid-column: 1 / span 2;
}

.menu--item__addition {
    grid-column: 1;
    font-size: .75rem;
}
.menu--item__addition-price {
    font-weight: 600;
}