.menu {
    display: grid;
    justify-content: center;
}

.menu--item {
    display: grid;
    grid-gap: .5rem;
    font-weight: 400;
    padding: 1rem;
}

.menu--item__name {
    grid-row: 1;
    text-transform: Capitalize;
}

.menu--item__prices {
    grid-row: 1;
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
}

.menu--item__price {
    justify-self: end;
    font-weight: 600;
}

.menu--item__desc {
    font-size: .75rem;
    grid-column: 1 / span 2;
}

.menu--item__addition {
    grid-column: 1;
    font-size: .75rem;
}
.menu--item__addition-price {
    font-weight: 600;
}