.nav {
    position: fixed;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    background: #223147f0;
    padding: 1rem;
    align-items: center;
    justify-items: center;
    z-index: 130000000;
  }
  
  .nav--logo {
    justify-self: start;
  }
  .nav--logo > a {
    color: #d04a3a;
    text-decoration: none;
  }
  
  .nav__item {
    color: #fff;
    text-decoration: none;
  }