.nav {
    position: fixed;
    width: calc(100vw - (100vw - 100%));
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: var(--navy);
    padding: 1rem;
    align-items: center;
    justify-items: end;
    z-index: 130000000;
  }
  
  .nav--logo {
    justify-self: start;
  }
  .nav--logo > a {
    color: var(--red);
    text-decoration: none;
  }
  
  .nav__item {
    color: #fff;
    text-decoration: none;
  }

  @media only screen and (min-width: 500px) {
    .nav {
      grid-template-columns: 2fr 1fr 1fr 1fr;
    }
  }
  @media only screen and (min-width: 800px) {
    .nav {
      grid-template-columns: 4fr 1fr 1fr 1fr;
    }
  }