:root {
    --navy: #111F36;
    --red: #B03E3E;
    --maroon: #701111;
    --yellow: #BA7525;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 600;
}
*,*:before,*:after {
    box-sizing: inherit;
    margin: 0;
}

.divider {
    height: 3rem;
    width: 100%;
}