:root {
    --navy: #111F36;
    --red: #B03E3E;
    --maroon: #701111;
    --yellow: #BA7525;
}

html {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
/*     font-family: sans-serif;
    font-weight: 600; */
}
*,*:before,*:after {
    box-sizing: inherit;
    margin: 0;
}

.divider {
    height: 3rem;
    width: 100%;
}
.divider--blue {
    fill: var(--navy);
}
.divider--white {
    fill: #fff;
}
.divider--bottom {
    position: absolute;
    bottom: 0;
}
.divider--blue-background {
    background: var(--navy);
}