:root {
    --navy: #111F36;
    --red: #B03E3E;
    --maroon: #701111;
    --yellow: #BA7525;

}

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: #eee;
/*     font-family: sans-serif;
    font-weight: 600; */
}
*,*:before,*:after {
    box-sizing: inherit;
    margin: 0;
}

.divider {
    height: 7rem;
    width: 100%;
}
.divider--blue {
    fill: var(--navy);
}
.divider--grey {
    fill: #eee;
}
.divider--bottom {
    position: absolute;
    bottom: 0;
}
.divider--blue-background {
    background: var(--navy);
}

.section-title {
    font-weight: 400;    
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0;
}